<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.ac.at/univie/swa/ase2015/a9902268/task3/WikiML" 
       class = "at.ac.univie.swa.ase2015.a9902268.task3.wikiML.WikiMLPackage"
       genModel = "model/generated/WikiML.genmodel" /> 
	
  </extension>



</plugin>
